---
title: Blog
layout: page
description: "Hello World"
---

{% for post in site.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- <div class="home">  
  
  <h1 class="page-heading">第一个博客页面</h1>  
  
  <ul class="post-list">  
    {% for post in site.posts %}  
      <li>  
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  
  
        <h2>  
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>  
        </h2>  
        <h2>  
          {{ post.excerpt }}  
        </h2>  
      </li>  
    {% endfor %}  
  </ul>  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>  
  
</div></span>  -->